body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
.overflow {
  overflow: hidden;
}
