$accent-color: #d41443;
$background-color: #ffb8ca;
$background-circle: #ffa5ba;
$background-card-one: #ffb8ca;
$background-card-two: #f0d1a5;
$background-card-three: #c2e297;
$header-color: #ffffff;
$main-text-color: #907e82;
$second-text-color: #000000;
$background-about: #fff5f6;
$borders-card-color: rgba(225, 225, 225, 1);
