<section class="about" id="how-it's-made">
  <div class="about__container">
    <div class="about__div--title">
      <p class="about__label">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
    </div>

    <div class="about__div--tablet">
      <picture class="about__picture">
        <source
          srcset="./img/cow-comp.png 1x, ./img/cow-comp@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/cow-tablet.png 1x, ./img/cow-tablet@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/cow-tel.png 1x, ./img/cow-tel@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img src="./img/cow-comp.png" alt="cow and milk" width="501" />
      </picture>

      <div>
        <p class="about__text--fat">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>

        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.<br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button type="button" class="about__button" data-modal-open>
          Read more
          <svg class="about__icon" width="5px" height="8px">
            <use href="./img/icons.svg#more"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="backdrop__button" data-modal-close type="button">
      <svg class="backdrop__svg" width="18" height="18">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="about__modal-title">centennial tradition</h2>
    <!-- <p class="about__modal-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab inventore
      vitae consequuntur, earum cumque corrupti amet laudantium neque vero
      voluptatibus fuga ut illum ipsa dicta pariatur maxime a labore ad fugit
      expedita sapiente ducimus! Minus optio animi beatae quibusdam dolorum
      quaerat natus facere ea! Cupiditate quia facere provident esse temporibus.
    </p> -->
    <ol class="about__modal-list">
      <li class="about__modal-item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, sequi
        quae vero tenetur animi et.
      </li>
      <li class="about__modal-item">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
        voluptatibus quidem reiciendis.
      </li>
      <li class="about__modal-item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </li>
      <li class="about__modal-item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ea sit
        mollitia, officia labore inventore non quo atque quam? Placeat.
      </li>
    </ol>
  </div>
</div>
