<section class="about">
  <div class="conteiner about__container">
    <div class="about__div--title">
      <p class="about__label">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
    </div>

    <!-- <picture>
      <source srcset="./images 1x, ./images 2x" media="(min-width: 1200px)" />
      <source srcset="./images 1x, ./images 2x" media="(min-width: 768px)" />
      <source srcset="./images 1x, ./images 2x" media="(min-width: 320px)" />
      <img src="./images" alt="cow and milk" width="501" />
    </picture> -->

    <p class="about__text--fat">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p class="about__text">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt. Aliquam erat volutpat. Aenean accumsan.
    </p>
    <button type="button" class="about__button">
      <a href="" class="about__link">Read more</a>
    </button>
  </div>
</section>
