<section class="advantages">
  <div class="advantages__container container">
    <h2 class="advantages__title">craulers</h2>
    <ul class="list advantages__list">
      <li class="advantages__item">
        <p class="advantages__numbers advantages__numbers--gear">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__numbers advantages__numbers--apple">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__numbers advantages__numbers--heart">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
