<section class="reviews">
    <div class="container">
        <h2 class="vissually-hidden">Customer Reviews</h2>
        <div class="reviews__block">
            <img src="#" alt="photo Emily" class="reviews__img">
            <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam
                nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <div class="reviews__name">Emily, Los Angeles</div>
        </div>
        <div class="reviews__block">
            <img src="#" alt="photo Nadya" class="reviews__img">
            <p class="reviews__text">Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. Nullam viverra consectetuer.</p>
            <div class="reviews__name">Nadya, Chicago</div>
        </div>
        <div class="reviews__block">
            <img src="#" alt="photo Lucy" class="reviews__img">
            <p class="reviews__text">Lorem ipsum primis in nibh vel risus. Nullam viverra consectetuer. Quisque cursus
                et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam
                nunc, accumsan congue.</p>
            <div class="reviews__name">Lucy, New York</div>
        </div>
    </div>
</section>