<footer>
    <div class="container">
        <p class="footer__title">homemade ice cream made <span class="footer__title--dark">with passion</span></p>
        <div class="footer__block">
            <ul class="footer__soc">
                <li><a href="https://github.com/" target="_blank" rel="noreferrer noopener"
                        class="footer__soc-link"><svg class="footer__icon">
                            <use href="./img/icons.svg#github"></use>
                        </svg></a></li>
                <li><a href="https://web.telegram.org/" target="_blank" rel="noreferrer noopener"
                        class="footer__soc-link"><svg class="footer__icon">
                            <use href="./img/icons.svg#telegram"></use>
                        </svg></a></li>
                <li><a href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener"
                        class="footer__soc-link"><svg class="footer__icon">
                            <use href="./img/icons.svg#facebook"></use>
                        </svg></a></li>
            </ul>
            <p class="footer__tel">Feel free to contact <a href="tel:+610383766284" class="footer__tel--link">+61 (0)
                    383
                    766 284</a></p>
        </div>
    </div>
    <p class="footer__copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>
</footer>