<header class="header conteiner">
  <img class="header__logo" href="../../img/" />
  <nav class="header-nav">
    <ul class="header-nav__list">
      <button class="header-nav__button">Buy now</button>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#home">Home</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#about-us">About us</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#how-it's-made">How it’s made?</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#our-products">Our products</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#contact">Contact</a>
      </li>
    </ul>
    <svg class="header__"><use></use></svg>
  </nav>

  <h1 class="header__title">ice cream made with<span>passion</span></h1>
  <ul>
    <li>
      <button><a href="#products">Products</a></button>
    </li>
    <li>
      <button><a href="#how-it's-made">How it’s made?</a></button>
    </li>
  </ul>
</header>
