<section class="hero">
  <div class="container">
    <div class="hero-fixed">
      <div class="hero-flex">
        <h1 class="hero__title">
          ice cream made with <br /><span class="hero__title hero__title--bolt"
            >passion</span
          >
        </h1>
        <ul class="hero-element">
          <li class="hero-element__link">
            <p class="hero-element__text">
              <span class="hero-element__text hero-element__text--item">16</span
              >cafes
            </p>
          </li>
          <li class="hero-element__link">
            <p class="hero-element__text">
              <span class="hero-element__text hero-element__text--item">23</span
              >food trucks
            </p>
          </li>
        </ul>
      </div>
      <ul class="hero__list">
        <li class="hero__item">
          <a class="hero__button hero__button--primary" href="#our-products">
            Products
          </a>
        </li>
        <li class="hero__item">
          <a class="hero__button hero__button--secondary" href="#how-it's-made">
            How it’s made?
          </a>
        </li>
      </ul>

      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero-button" type="button">
        <svg width="5px" height="5px">
          <use href="./img/icons.svg#strelka"></use>
        </svg>
      </button>
      <span class="hero__circle animate__animated animate__backInLeft"></span>
      <picture
        class="hero__picture hero__picture--one animate__animated animate__backInRight"
      >
        <source
          srcset="
            ./img/hero-icecream-tel.png    1x,
            ./img/hero-icecream-tel@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <source
          srcset="
            ./img/hero-icecream-tablet.png 1x,
            ./img/hero-icecream-tablet.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero-icecream-comp.png 1x,
            ./img/hero-icecream-comp.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img src="./img/hero-icecream-tel.png" alt="Ice Cream" />
      </picture>
      <picture
        class="hero__picture hero__picture--two animate__animated animate__backInLeft"
      >
        <source
          srcset="./img/milk-tablet.png 1x, ./img/milk-tablet.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/milk-comp.png 1x, ./img/milk-comp.png 2x"
          media="(min-width: 1200px)"
        />
        <img src="./img/milk-tablet.png" alt="Milk" />
      </picture>
      <picture
        class="hero__picture hero__picture--three animate__animated animate__backInRight"
      >
        <source
          srcset="
            ./img/hero-girl-tablet.png    1x,
            ./img/hero-girl-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/hero-girl-comp.png 1x, ./img/hero-girl-comp@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <img src="./img/hero-girl-tablet.png" alt="Milk" />
      </picture>
    </div>
  </div>
</section>
