<section class="product">
    <div class="product__caption">
        <h2>products</h2>
        <label>100% natural</label>
    </div>
    <div class="product__card">
        <ul class="product__catalog list">
            <li class="product__item">
                <picture>
                    <source srcset="./img/ice-cream-comp.png  1x,  ./img/ice-cream-comp@2x.png   2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./img/ice-cream-tablet.png  1x,  ./img/ice-cream-tablet@2x.png   2x"
                        media="(min-width: 768px)" />
                    <source srcset="./img/ice-cream-tel.png  1x,  ./img/ice-cream-tel@2x.png   2x"
                        media="(min-width: 480px)" />
                    <img src="../img/ice-cream-tel.png" alt="Ice Cream" width="280">
                </picture>
                <h3>ice cream</h3>
                <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et. dolore magna
                    aliqua facilisis.</label>
                <button type="button" class="product__button"></button>
            </li>
            <li class="product__item">
                <picture>
                    <source srcset="./img/ice-coffee-comp.png  1x,  ./img/ice-coffee-comp@2x.png   2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./img/ice-coffee-tablet.png  1x,  ./img/ice-coffee-tablet@2x.png   2x"
                        media="(min-width: 768px)" />
                    <source srcset="./img/ice-coffee-tel.png  1x,  ./img/ice-coffee-tel@2x.png   2x"
                        media="(min-width: 480px)" />
                    <img src="../img/ice-coffee-tel.png" alt="Ice Cream" width="280">
                </picture>
                <h3>ice coffee</h3>
                <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et. dolore magna
                    aliqua facilisis.</label>
                <button type="button" class="product__button"></button>
            </li>
            <li class="product__item">
                <picture>
                    <source srcset="./img/milk-shake-comp.png  1x,  ./img/milk-shake-comp@2x.png   2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./img/milk-shake-tablet.png  1x,  ./img/milk-shake-tablet@2x.png   2x"
                        media="(min-width: 768px)" />
                    <source srcset="./img/milk-shake-tel.png  1x,  ./img/milk-shake-tel@2x.png   2x"
                        media="(min-width: 480px)" />
                    <img src="../img/ice-cream-tel.png" alt="Ice Cream" width="280">
                </picture>
                <h3>milkshakes</h3>
                <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et. dolore magna
                    aliqua facilisis.</label>
                <button type="button" class="product__button"></button>
            </li>
        </ul>
    </div>
</section>