<section class="product container">
    <div class="product__caption">
        <label>100% natural</label>
        <h2>products</h2>
    </div>
    <div class="product__card">
        <ul class="product__catalog list">
            <li class="product__item">
                <div class="product__blog">
                    <h3 class="product__article">ice cream</h3>
                    <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <button type="button" class="product__button">
                        <svg class="product__icon">
                            <use href="./img/icons.svg#strelka"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="product__item">
                <div class="product__blog">
                    <h3 class="product__article">ice coffee</h3>
                    <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <button type="button" class="product__button">
                        <svg class="product__icon">
                            <use href="./img/icons.svg#strelka"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="product__item">
                <div class="product__blog">
                    <h3 class="product__article">milkshakes</h3>
                    <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <button type="button" class="product__button">
                        <svg class="product__icon">
                            <use href="./img/icons.svg#strelka"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>