.hidden {
  @extend %vissually-hidden;
}
.contacts__card {
  padding: 40px 32px;
  height: 412px;
  width: 100%;
  background-color: $header-color;
  border: 1px solid red;
  border-radius: 24px;
  border: 1px solid rgba(225, 225, 225, 1);
}
.card__category {
  border: 1px solid green;
  border-radius: 4px;
  text-align: center;
  color: $main-text-color;
  width: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $background-card-one;
}
.card__title {
  @include font(12px, 500, 22px, 0.04em);
}
