.hidden {
  @extend %vissually-hidden;
}
// .contacts {
//   text-align: center;
// }
.contacts__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  @include tablet {
    gap: 32px;
  }
}
.contacts__card {
  padding: 40px 32px;
  width: 100%;
  background-color: $header-color;
  border: 1px solid $borders-card-color;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);

  @include tablet {
    width: calc((100% - 64px) / 3);
  }
}

.card__category {
  @include font(12px, 500, 22px, 0.04em);
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 4px;
  color: $main-text-color;
  background-color: $background-card-one;
  padding: 4px 25px;

  @include tablet {
    @include font(16px, 500, 30px, 0.04em);
  }
}

.card__category.second {
  background-color: $background-card-three;
}
.card__title {
  @include font(12px, 500, 22px, 0.04em);
  margin-top: 20px;
  margin-bottom: 8px;
  text-align: left;

  @include tablet {
    @include font(14px, 500, 26px, 0.04em);
  }
}
.card__text {
  @include font(12px, 500, 18px, 0.04em);
  color: $main-text-color;
  margin-bottom: 24px;
  position: relative;
  padding-bottom: 24px;

  @include tablet {
    @include font(14px, 500, 23px, 0.04em);
  }
}
.card__text::after {
  content: '';
  border: 1px solid $borders-card-color;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.timetable__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 24px;

  @include tablet {
    gap: 12px;
  }
}
.timetable__day {
  @include font(12px, 500, 22px, 0.04em);

  @include tablet {
    @include font(14px, 500, 26px, 0.04em);
  }
}

.timetable__time {
  @include font(12px, 500, 22px, 0.04em);
  color: $background-circle;
  @include tablet {
    @include font(14px, 500, 26px, 0.04em);
  }
}
.timetable::after {
  content: '';
  border: 1px solid $borders-card-color;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.contacts__tel {
  @include font(12px, 500, 18px, 0.04em);
  color: $main-text-color;

  @include tablet {
    @include font(14px, 500, 26px, 0.04em);
  }
}
.contacts__mail {
  @include font(12px, 500, 18px, 0.04em);
  color: $main-text-color;

  @include tablet {
    @include font(14px, 500, 26px, 0.04em);
  }
}
.contacts__tel:hover,
.contacts__tel:focus,
.contacts__mail:hover,
.contacts__mail:focus {
  color: $accent-color;
}
.button__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 10px;
}
.button {
  position: relative;
  border-radius: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 17px;
  padding-right: 55px;
  // padding: 17px 16px;
  margin-left: 14px;
  min-width: 73px;
  border: 1px solid red;

  @include font(16px, 700, 21px, 0.04em);
  cursor: pointer;
  text-align: center;

  color: $accent-color;
  background-color: $header-color;
}
.button:hover,
.button:focus {
  color: $header-color;
  background-color: $accent-color;
}
.button:hover .button__icon {
  fill: $header-color;
}
.button__icon {
  width: 6px;
  height: 10px;
  margin-left: 11px;
  fill: $accent-color;
}
.more {
  position: absolute;
  transform: translateY(8%);
  @include font(16px, 700, 21px, 0.04em);
}
