.reviews{
    
    &__title {
            @extend %vissually-hidden;
        }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  

    }
    &__img {
        width: 85px;
        height: auto;
        margin-bottom: 32px;
    }
    .container{
        padding-top: 30px;
        padding-bottom: 43px;
        width: 100%;
    }
}

.reviews__bg{
    padding: 43px 50px 17px 50px;
    margin-bottom: 16px;
    background-color: #FAFAFA;
    @media screen and(min-width:768px) {
        background-color: rgba(250, 250, 250, 0.4);
        padding: 37px 6px 36px 6px;
        margin-bottom: 0;
    }

    @media screen and(min-width:1200px) {
        margin-bottom: 16px;
        padding: 47px 73px 39px;
        background-color: #FAFAFA;
    }}

.reviews__text{
    position: relative;
    width: 170px;
    padding: 1px 8px 9px 15px;  
    background-image:
            repeating-linear-gradient(180deg,
                #FAFAFA,
                #FAFAFA 30px,
                #E1E1E1 30px,
                #E1E1E1 31px,
                #FAFAFA 31px);
    @media screen and(min-width:768px) {
            width: 608px;
            padding: 1px 44px 8px 49px;
            margin-right: 0;
        }
    
    @media screen and(min-width:1200px) {
            width: 822px;
            padding: 1px 36px 8px 36px;
        }
    &::before {
        position: absolute;
        top: -13px;
        left: -2px;
        content: "";
        display: inline-block;
        background-image: url('../img/skobki-tablet.svg');
        width: 54px;
        height: 40px;
        fill: #E1E1E1;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        @media screen and(min-width:768px) {
            top: -17px;
            left: 4px;
            width: 60px;
            height: 40px;
        }
    
        @media screen and(min-width:1200px) {
            width: 54px;
            height: 40px;
            left: 1px;
            top: -15px;
        }}
    &--up {
        position: relative;
        text-align: center;
        @include font($fs: 12px, $fw: 500, $lh: 31px, $ls: 0.0em);
        z-index: 1;
    
        @media screen and(min-width:768px) {
            @include font($fs: 14px, $fw: 500, $lh: 30px, $ls: 0.04em);
        }
    
        @media screen and(min-width:1200px) {
            @include font($fs: 16px, $fw: 500, $lh: 30px, $ls: 0.04em);
        }
    
    }
}

.reviews__name{
    position: relative;
    padding-top: 20px;
    text-align: center;
    @include font($fs: 14px, $fw: 500, $lh: 26px, $ls: 0.0em);
    @media screen and(min-width:768px) {
        @include font($fs: 16px, $fw: 500, $lh: 30px, $ls: 0.0em);
        }
    
    @media screen and(min-width:1200px) {
        @include font($fs: 20px, $fw: 500, $lh: 37px, $ls: 0.0em);
        }
    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        content: "";
        background-image: url("../img/drops-red.svg");
        fill: $accent-color;
        background-size: contain;
        width: 32px;
        height: 4px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-image: url(../img/house.svg);
    width: 12px;
    height: 12px;
    border-radius: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}
