.reviews__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews__text{
    padding: 43px 50px 17px 50px;
    background-color: #FAFAFA;
                    
}