footer {
  background-color: $background-about;
  padding-top: 40px;
  .container{
    padding-bottom: 40px;
    @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    @media screen and(min-width:1200px) {
      padding-bottom: 60px;
    }

  }
@media screen and(min-width:1200px) {
    padding-top: 120px;
   
    flex-direction: column;
  }
  
}
.footer__title {
  display: inline-block;
  padding-bottom: 40px;
  padding-right: 46px;
  font-family: 'Titan One';
  @include font($fs: 18px, $fw: 400, $lh: 21px, $ls: 0em);
  text-transform: uppercase;
  color: $background-circle;
  @media screen and(min-width:768px) {
    @include font($fs: 26px, $fw: 400, $lh: 30px, $ls: 0.04em);
    width: 340px;
    padding-bottom: 0;
    padding-right: 0;
  }

  @media screen and(min-width:1200px) {
    @include font($fs: 30px, $fw: 400, $lh: 34px, $ls: 0.04em);
    width: 480px;
  }

  &--dark {
    display: block;
    padding-top: 16px;
    @include font($fs: 34px, $fw: 400, $lh: 39px, $ls: 0.04em);
    text-transform: uppercase;
    color: $accent-color;
    @media screen and(min-width:768px) {
      @include font($fs: 48px, $fw: 400, $lh: 55px, $ls: 0.06em);
      padding-top: 12px;
    }

    @media screen and(min-width:1200px) {
      @include font($fs: 58px, $fw: 400, $lh: 66px, $ls: 0.06em);
      padding-top: 16px;
    }
  }
}
.footer__block {
  width: 100%;
  @media screen and(min-width:768px) {
    width: 286px;
  }
    @media screen and(min-width: 1200px) {
align-items: center;   }
}
.footer__soc {
  display: flex;
  justify-content: end;
  gap: 28px;
  margin-bottom: 40px;
}

.footer__icon {
  width: 32px;
  height: 32px;
  fill: $background-circle;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .footer__soc-link:hover &,
  .footer__soc-link:focus & {
    fill: $accent-color;
  }
  @media screen and(min-width:768px) {
    width: 34px;
    height: 34px;
  }
}

.footer__tel {
  @include font($fs: 12px, $fw: 700, $lh: 22px, $ls: 0em);
  width: 100%;
  text-align: right;
  color: $second-text-color;
  &--link {
    color: $accent-color;
    transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      text-shadow: 0px 0.5px 0px $second-text-color;
    }
  }
  @media screen and(min-width:768px) {
    @include font($fs: 14px, $fw: 700, $lh: 26px, $ls: 0em);
  }
}
.footer__copyright {
  padding: 16px 20px 3px 20px;
  @include font($fs: 14px, $fw: 700, $lh: 21px, $ls: 0em);
  text-align: center;
  color: $main-text-color;
  border-top: 1px solid $borders-card-color;
  &--width {
    display: inline-block;
    width: 144px;
    @media screen and(min-width:768px) {
      width: 278px;
    }
  }
  @media screen and(min-width:768px) {
    @include font($fs: 14px, $fw: 700, $lh: 26px, $ls: 0.02em);
    padding: 8px 20px 4px 20px;
  }
  @media screen and(min-width:1200px) {
    padding: 7px 20px 4px 8px;
    margin-right: 17px;
    margin-left: 17px;
  }
}
