footer{
    background-color: $background-about;
}
.footer__title{
    margin-bottom: 40px;
    font-family: 'Titan One';
    @include font($fs: 18px, $fw: 400, $lh: 21px, $ls: 0.03em);
    text-transform: uppercase;
    color: $background-circle;
&--dark {
        @include font($fs: 34px, $fw: 400, $lh: 39px, $ls: 0.04em);
        text-transform: uppercase;
        color: $accent-color;
    }
}
.footer__soc{
    display: flex;
    gap: 28px;
}
.footer__soc-link{
    width: 32px;
}
.footer__icon{
    width: 32px;
    height: 32px;
    fill: $background-circle;
}
.footer__icon:hover{
    fill: $accent-color;
}
.footer__tel{

}
.footer__copyright{
    padding: 16px 20px 3px 20px;
    @include font($fs: 14px, $fw: 700, $lh: 21px, $ls: 0.03em);
    text-align: center;
    color: $main-text-color;
    border-top: 1px solid $borders-card-color;
}

