.gallery.container {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 67%,
    rgba(255, 245, 246, 1) 68%
  );
  width: 100%;
  @include tablet {
    padding-top: 32px;
    padding-bottom: 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 55%,
      rgba(255, 245, 246, 1) 56%
    );
  }

  @include comp {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 72%,
      rgba(255, 245, 246, 1) 72%
    );
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery__article {
  @extend %vissually-hidden;
}

.gallery__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 0.8fr);
  grid-template-rows: repeat(3, 0.2fr);
  grid-column-gap: 2.5px;
  grid-row-gap: 2.5px;
}

.gallery__div1 {
  grid-area: 2 / 1 / 3 / 2;
  margin-top: -20px;
  @include tablet {
    margin-top: -47px;
  }
  @include comp {
    margin-top: -113px;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3) translateX(15px);
  }
}
.gallery__div2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 25px;
  @include tablet {
    margin-top: 64px;
  }
  @include comp {
    margin-top: 24px;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
.gallery__div3 {
  grid-area: 2 / 2 / 3 / 3;
  @include comp {
    margin-top: -38px;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
.gallery__div4 {
  grid-area: 1 / 3 / 3 / 5;

  @include comp {
    margin-top: 4px;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
.gallery__div5 {
  grid-area: 1 / 5 / 2 / 6;

  margin-top: 24px;
  @include tablet {
    margin-top: 61px;
  }
  @include comp {
    margin-top: 63px;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
.gallery__div6 {
  grid-area: 2 / 5 / 3 / 6;
  @include comp {
    margin-top: 0;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
.gallery__div7 {
  grid-area: 1 / 6 / 2 / 7;

  margin-top: 14px;

  @include tablet {
    margin-top: 43px;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
.gallery__div8 {
  grid-area: 2 / 6 / 3 / 7;

  margin-top: -10px;

  @include tablet {
    margin-top: -17px;
  }
  @include comp {
    margin-top: -17px;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
.gallery__div9 {
  grid-area: 2 / 7 / 3 / 8;
  margin-top: -25px;
  @include tablet {
    margin-top: -61px;
  }
  @include comp {
    margin-top: -125px;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3) translateX(-15px);
  }
}
.gallery__div10 {
  grid-area: 3 / 3 / 4 / 4;
  margin-top: -27px;
  @include tablet {
    margin-top: -64px;
  }
  @include comp {
    margin-top: -63px;
  }

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
