.gallery.container {
  padding: 0;
  @include comp {
    padding: 120px 94px 120px 94px;
  }
}

.gallery__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 0.8fr);
  grid-template-rows: repeat(3, 0.2fr);
  grid-column-gap: 2.5px;
  grid-row-gap: 2.5px;
}

.gallery__div1 {
  grid-area: 2 / 1 / 3 / 2;
  margin-top: -20px;
  @include tablet {
    margin-top: -47px;
  }
  @include comp {
    margin-top: -113px;
  }
}
.gallery__div2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 25px;
  @include tablet {
    margin-top: 64px;
  }
  @include comp {
    margin-top: 24px;
  }
}
.gallery__div3 {
  grid-area: 2 / 2 / 3 / 3;
  @include comp {
    margin-top: -38px;
  }
}
.gallery__div4 {
  grid-area: 1 / 3 / 3 / 5;

  @include comp {
    margin-top: -52px;
  }
}
.gallery__div5 {
  grid-area: 1 / 5 / 2 / 6;

  margin-top: 24px;
  @include tablet {
    margin-top: 61px;
  }
  @include comp {
    margin-top: 63px;
  }
}
.gallery__div6 {
  grid-area: 2 / 5 / 3 / 6;
  @include comp {
    margin-top: 0;
  }
}
.gallery__div7 {
  grid-area: 1 / 6 / 2 / 7;

  margin-top: 14px;

  @include tablet {
    margin-top: 43px;
  }
}
.gallery__div8 {
  grid-area: 2 / 6 / 3 / 7;

  margin-top: -10px;

  @include tablet {
    margin-top: -17px;
  }
  @include comp {
    margin-top: -60px;
  }
}
.gallery__div9 {
  grid-area: 2 / 7 / 3 / 8;
  margin-top: -25px;
  @include tablet {
    margin-top: -61px;
  }
  @include comp {
    margin-top: -125px;
  }
}
.gallery__div10 {
  grid-area: 3 / 3 / 4 / 4;
  margin-top: -27px;
  @include tablet {
    margin-top: -64px;
  }
  @include comp {
    margin-top: -117px;
  }
}
