.header {
    background-color: $background-color;
}

.header__logo {
    width: 200px;
    height: 50px;


}

.header-secondary {
    display: none;

    @include comp {
        display: block;
    }
}

.header-picture {
    @include tablet {
        flex-grow: 1;
    }

    @include comp {
        flex-grow: 0;
    }
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;

    @include tablet {
        padding-top: 32px;
    }

    @include comp {
        padding-top: 37px;
    }
}

.header-button {
    padding: 0;
    background-color: transparent;
    border: none;
    z-index: 3;

    cursor: pointer;

    & .header-button__menu--cross {
        display: none;
    }

    @include comp {
        display: none;
    }
}

.header-button__menu--close {
    display: none;
}

.header-button.is-open {
    .header-button__menu {
        width: 14px;
        height: 14px;
    }

    .header-button__menu--cross {
        display: block;
        padding-top: 20px;
        z-index: 100;
        position: fixed;
    }

    .header-button__menu--burger {
        display: none;
    }

    .header-button__menu--close {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 14px;
        height: 14px;
        display: block;
        z-index: 100;

        @include tablet {
            right: 32px;
        }
    }

    .header-button__menu--open {
        display: none;
    }
}

.header-nav {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    background-color: #E17992;
    width: 250px;
    height: 100%;
    transform: translateX(200%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        display: flex;
        position: fixed;
        flex-direction: column;
        transform: translateX(0);

        @include comp {
            display: none;
        }
    }

    @include tablet {
        width: 254px;
    }

    @include comp {
        display: none;
    }
}

.header-nav__box--one {
    padding: 60px 15px 20px 15px;

    @include tablet {
        padding: 60px 34px 20px 34px;
    }

    @include comp {
        display: none;
    }
}

.header-nav__box {
    @include comp {
        margin-left: 128px;
    }
}

.header-nav__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 44px;


    cursor: pointer;
    border: 0;
    border-radius: 22px;
    background-color: #fff;
    color: $accent-color;
    @include font(16px, 700, 21px, null);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }

    @include comp {
        margin-right: 0;
    }
}

.header-nav__button--two {
    display: none;

    @include tablet {
        display: block;
        width: 160px;
        margin-left: 32px;
    }

    
    @include comp {
        margin-left: auto;
    }
}

.header-nav__svg {
    margin-left: 14px;
}

.header-nav__item {
    &:last-child {
        border-bottom: 1px solid #E18298;
    }

    @include comp {
        &:last-child {
            border-bottom: none;
        }

        margin-right: 35px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.header-nav__list {
    @include comp {
        display: flex;
    }
}

.header-nav__link {
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;

    border-top: 1px solid #E18298;
    border-bottom: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: #fff;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @include comp {
        border: none;
        padding: 0;
    }
}