.header {
    background-color: $background-color;
}

.header__logo {
    width: 200px;
    height: 50px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
}

.header-button {
    padding: 0;
    background-color: transparent;
    border: none;
    z-index: 3;

    cursor: pointer;

    & .header-button__menu--cross {
        display: none;
    }
}

.header-button.is-open {
    .header-button__menu {
        width: 14px;
        height: 14px;
    }

    .header-button__menu--cross {
        display: block;
        padding-top: 20px;
    }

    .header-button__menu--burger {
        display: none;
    }
}

.header-nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px 20px;

    background-color: #E17992;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        display: block;
        transform: translateX(0);
    }
}

.header-nav__button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 0;
    border-radius: 22px;
    background-color: #fff;
    color: $accent-color;
    @include font(16px, 700, 21px, null);
}