.header {
    background-color: $background-color;
}

.header__logo {
    width: 200px;
    height: 50px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
}

.header-button {
    padding: 0;
    background-color: transparent;
    border: none;
    z-index: 3;

    cursor: pointer;

    & .header-button__menu--cross {
        display: none;
    }
}

.header-button.is-open {
    .header-button__menu {
        width: 14px;
        height: 14px;
    }

    .header-button__menu--cross {
        display: block;
        padding-top: 20px;
    }

    .header-button__menu--burger {
        display: none;
    }
}

.header-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px 20px;

    background-color: #E17992;
    width: 100%;
    height: 100%;

    &.is-open {
        display: block;
    }
}

